<table class="h-table">
  <thead class="h-head">
  <tr>
    <td><%= translate 'user'%></td>
    <% @years.sort.each do |year| %>
      <td><%= year %></td>
    <% end %>
  </tr>
  </thead>
  <tbody class="h-body">
  <% @users.each do |user| %>
    <tr>
      <td><%= user.blank? ? '' : user.login.to_s %></td>
      <% @years.sort.each do |year| %>
        <td><%= @holidays[user][year] %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>